body {
    margin: 0;
    height: 100vh;
}

h1 {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}